
section{
    .Formu{
        background-image: url(../Img/universo.webp);
        border-radius: 800px;
        
    }

    form{
        text-align: center;
        margin-top: 130px;
        }
    .submit:hover{
            background-color: rgb(246, 74, 203);
        }
    input{
        font-family: 'Alkatra', cursive;
        color: rgb(0, 0, 0);
        font-weight: bolder;
        text-align: center;
    }
    textarea{
        font-family: 'Alkatra', cursive;
        color: rgb(0, 0, 0);
        font-weight: bolder;
        text-align: center;
    }
    .sunset{
        border-radius: 50px;
    }

}
.bienvenido{
    background-image: url(../Img/11534351_m.jpg);
    border-radius: 20px;

}

p{
    margin-top: 70px;
    margin-left: 20px;
    font-family: 'Alkatra', cursive;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-transform: capitalize;
    text-shadow: 3px 3px 3px black;
    width: 90%;
}

