h2{
    font-family: 'Alkatra', cursive;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 5px 5px black;

}

form{
    text-align: center;
    font-weight: bolder;
    text-shadow: 1px 1px white;
}