
section{
        form{
            text-align: center;
            font-weight: bolder;
            text-shadow: 2px 2px 2px rgb(0, 0, 0);
            color: aliceblue;
            margin-top: 90px;
        }

}
