@import "titulo";
@import "body";
@import "formulario";
@import "temario";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap");



div{
    p{
        margin-top: 70px;
        font-family: 'Alkatra', cursive;
        font-weight: bolder;
        color: rgb(255, 255, 255);
        font-size: 30px;
        text-transform: capitalize;
        text-shadow: 5px 5px black;
    }
}



footer{
    font-family: 'Alkatra', cursive;
    text-shadow: 2px 2px black;
    color: azure;
    text-align: center;
}



ol{
    text-align: center;
    li{
        font-family: 'Alkatra', cursive;
        font-weight: bold;
        color: rgb(255, 255, 255);
        letter-spacing: 5px;
        
        text-shadow: 3px 3px black;
        margin-top: 50px;
        text-transform: uppercase;
    }
    h2{
        margin-top: 50px;
    }
}