@import "titulo";
@import "body";
@import "formulario";
@import "temario";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap");







footer{
    font-family: 'Alkatra', cursive;
    text-shadow: 2px 2px black;
    color: azure;
    text-align: center;
}



